* {
    box-sizing: border-box;
    font-family: "Quicksand";
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0px;
    overflow-x: hidden; 
}

.container {
    display: block;
    z-index: 10;
    background-color: rgb(42, 214, 236);
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    height: 150px;
    padding: 20px;
}

.nav-wrapper {
    border-radius: 35px;
    padding: 30px;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    background-color: rgb(252, 131, 131);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-wrapper img {
    margin: 0 auto;
    position: relative;
    bottom: 5px;
}

.left {
    width: 7%;
}   

.fa-bars {
    display: none;
}

.search-container {
    display: inline;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 40px;
    width: 40%;
    margin: 0 auto;
    position: relative;
    bottom: 15px;
    right: 50px;
    box-shadow: 0px 5px 9px -2px rgba(0,0,0,0.84);
}

.search-box {
    margin: 0 auto;
    position: relative;
    left: 10px;
    top: 10px;
}

.fa-search {
    margin-right: 5px;
}

.search {
    border: 0px;
    font-size: 15px;
    width: 65%;
}

.category {
    display: inline-flex;
}

.category button {
    font-size: 15px;
    background-color: rgb(89, 247, 81);
    box-shadow: 0px 5px 9px -2px rgba(0,0,0,0.84);
    color: black;
    padding: 10px;
    margin: 0 auto;
    position: relative;
    top: 35px;
    top: -86px;
    left: 410px;
    border-radius: 10px;
    width: 120px;
    border: 0px;
}

.feature {
    position: relative;
    right: 35px;
    bottom: 10px;
    width: 650px;
}

.feature ul {
    position: relative;
    top: 20px;
}

.feature li {
    display: inline-block;
    font-size: 15px;
    margin-right: 60px;
    list-style: none;
    font-weight: bolder;
    cursor: pointer;
    float: left;
}

.utility {
    position: relative;
    display: flex;
    left: 600px;
    bottom: 45px;
    font-size: 30px;
}


.fa-shopping-basket {
    margin-right: 50px;
}

.icon-utils {
    font-weight: lighter;
    margin-right: 50px;
}

main {
    display: flex;
    position: relative;
    top: 50px;
    margin-bottom: 100px;
}

.jacket {
	display: flex;
	flex-direction: column;
}

.outer {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
}

#laptop {
    background-color: rgb(104,155,255);
}
#smartphone {
    background-color: rgb(243, 234, 13);
}

#freezer {
    background-color: rgb(13, 243, 49);
}

.product-container {
    width: 90%;
    border-radius: 15px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 5px 9px -2px rgba(0,0,0,0.84);
}

.caption {
    border-radius: 5px;
    left: 70px;
    top: 15px;
    position: relative;
    height: 30px;
    width: 20%;
    color: white;
    width: 230px;
    box-shadow: 0px 5px 9px -2px rgba(0,0,0,0.84);
}

#laptop-caption {
    background-color: rgb(241, 79, 81);

}

#smartphone-caption {
    background-color: rgb(70, 211, 255);
}

#freezer-caption {
    background-color: rgb(96, 70, 255);
    width: 25%;
}

.caption h2 {
    margin: 0 auto;
    text-align: center;
}

.product-logo {
    position: relative;
    width: 20%;
    float: left;
}

.product-logo img {
    border-radius: 50%;
    width: 100px;
    margin-bottom: 5px;
}

.product-logo figcaption {
    text-align: center;
    font-weight: bolder;
}

figure {
    float: left;
}

.arrow-left > button {
    background: local;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    border: 1px solid black;
    position: relative;
    transition: all 0.5s;
}

.arrow-left > button:hover {
    background-color: rgba(241, 79, 81, 0.7);
}

.arrow-right > button {
    background: local;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    border: 1px solid black;
    position: relative;
    right: 30px;
    transition: all 0.5s;
}

.arrow-right > button:hover {
    background-color: rgba(241, 79, 81, 0.7);
}

.img-wrapper {
    display: flex;
    padding: 10px;
}

.product-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
}

.image {
    display: inline-block;
}

.image img {
    max-width: 80%;
    display: inline-block;
    vertical-align: baseline;
    margin-top: 10px;
    height: auto;
    box-shadow: 10px 10px 0px -3px rgba(0,0,0,0.75);
}

.image > img:hover {
    opacity: 0.5;
}

.wrapper {
    position: relative;
    padding: 0;
    width: 20%;
    float: left; 
    display: block;
    cursor: pointer;
    overflow: hidden;

}
.content {
    opacity: 0;
    position: absolute;
    top: 10px;
    left: 0;
    height: 150px;
    width: 150px;
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align: center;
}

.content div {
    font-size: 15px;
    position: relative;
    top: 30px;
}

.content:hover {
    opacity: 1;
}

footer {
    position: relative;
    padding: 20px;
    min-width: 100px;
    background-color: rgb(241, 79, 81);
}

@media only screen and (max-width: 1024px) {
    .left img {
        width: 150px;
        position: relative;
        margin: 0 auto;
        top: 10px;
    }   
    .feature {
        position: relative;
        right: 50px;
        bottom: 10px;
        width: 650px;
    }
    
    .feature ul {
        position: relative;
        top: 20px;
    }
    
    .feature li {
        display: inline-block;
        font-size: 15px;
        margin-right: 20px;
        list-style: none;
        font-weight: bolder;
        cursor: pointer;
        float: left;
    }
    .search-container {
        display: inline;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        height: 40px;
        width: 60%;
        margin: 0 auto;
        position: relative;
        bottom: 15px;
        right: 20px;
        box-shadow: 0px 5px 9px -2px rgba(0,0,0,0.84);
    }
    
    .search-box {
        margin: 0 auto;
        position: relative;
        left: 10px;
        top: 10px;
    }
    
    .fa-search {
        margin-right: 5px;
    }
    
    .search {
        border: 0px;
        font-size: 15px;
        width: 90%;
    }
    
    .category {
        display: inline-flex;
    }
    
    .category button {
        font-size: 15px;
        background-color: rgb(89, 247, 81);
        box-shadow: 0px 5px 9px -2px rgba(0,0,0,0.84);
        color: black;
        padding: 10px;
        margin: 0 auto;
        position: relative;
        top: -72px;
        right: 405px;
        height: 40px;
        border-radius: 10px;
        width: 120px;
        border: 0px;
    }
    .utility {
        position: relative;
        display: flex;
        right: 80px;
        top: 65px;
        font-size: 20px;
    }
    
    .fa-shopping-basket {
        margin-right: 30px;
        display: none;
    }

    .icon-utils {
        font-weight: lighter;
        margin-right: 30px;
        display: none;
    }
    .fa-bars {
        display: inline-block;
        position: relative;
        right: 470px;
        font-size: 35px;
        bottom: 90px;
    }
    .content {
        opacity: 0;
        position: absolute;
        top: 10px;
        left: 0;
        height: 100px;
        width: 100px;
        color: black;
        background-color: rgba(255, 255, 255, 0.7);
        -webkit-transition: all 400ms ease-out;
        -moz-transition: all 400ms ease-out;
        -o-transition: all 400ms ease-out;
        -ms-transition: all 400ms ease-out;
        transition: all 400ms ease-out;
        text-align: center;
    }
    
    .content div {
        font-size: 10px;
        position: relative;
        top: 30px;
    }
    .arrow-right > button {
        background: local;
        height: 30px;
        width: 30px;
        border-radius: 5px;
        border: 1px solid black;
        position: relative;
        right: 20px;
        transition: all 0.5s;
    }

}
	
@media only screen and (max-width: 768px) {
    .left img {
        width: 100px;
        position: relative;
        margin: 0 auto;
        top: 10px;
    }   
    .feature {
        position: relative;
        right: 50px;
        bottom: 10px;
        width: 650px;
    }
    
    .feature ul {
        position: relative;
        top: 20px;
    }
    
    .feature li {
        display: inline-block;
        font-size: 12px;
        margin-right: 20px;
        list-style: none;
        font-weight: bolder;
        cursor: pointer;
        float: left;
    }
    .search-container {
        display: inline;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        height: 40px;
        width: 60%;
        margin: 0 auto;
        position: relative;
        bottom: 15px;
        right: 20px;
        box-shadow: 0px 5px 9px -2px rgba(0,0,0,0.84);
    }
    
    .search-box {
        margin: 0 auto;
        position: relative;
        left: 10px;
        top: 10px;
    }
    
    .fa-search {
        margin-right: 5px;
    }
    
    .search {
        border: 0px;
        font-size: 15px;
        width: 55%;
    }
    
    .category {
        display: inline-flex;
    }

    .product-logo {
        display: none;
    }
    
    .category button {
        font-size: 15px;
        background-color: rgb(89, 247, 81);
        box-shadow: 0px 5px 9px -2px rgba(0,0,0,0.84);
        color: black;
        padding: 10px;
        margin: 0 auto;
        position: relative;
        top: -82px;
        left: 260px;
        height: 40px;
        border-radius: 10px;
        width: 120px;
        border: 0px;
    }
    .utility {
        position: relative;
        display: flex;
        right: 80px;
        top: 60px;
        font-size: 20px;
    }
    
    .fa-shopping-basket {
        margin-right: 30px;
	display: none;
    }

    .icon-utils {
        font-weight: lighter;
        margin-right: 30px;
	display: none;
    }

    .caption {
        left: 37px;
    }
    #freezer-caption {
        width: 40%;
    }

    .fa-bars {
	display: inline-block;
	right: 170px;
    font-size: 30px;
    bottom: 100px;
}
    .content {
        opacity: 0;
        position: absolute;
        top: 10px;
        left: 0;
        height: 100px;
        width: 100px;
        color: black;
        background-color: rgba(255, 255, 255, 0.7);
        -webkit-transition: all 400ms ease-out;
        -moz-transition: all 400ms ease-out;
        -o-transition: all 400ms ease-out;
        -ms-transition: all 400ms ease-out;
        transition: all 400ms ease-out;
        text-align: center;
    }
    
    .content div {
        font-size: 10px;
        position: relative;
        top: 30px;
    }
    .arrow-right > button {
        background: local;
        height: 30px;
        width: 30px;
        border-radius: 5px;
        border: 1px solid black;
        position: relative;
        right: 20px;
        transition: all 0.5s;
    }

}
@media only screen and (max-width: 480px){
    .fa-search {
        display: none;
    }
    .search {
        display: none;
    }
    .category {display: none;}
    .feature {
        display: none;
    }
    .search-container {
        background: local;
        box-shadow: 0 0 0 0;
        border: 0;
        border-radius: 0;
    }
    .left {
        position: relative;
        bottom: 10px;
    }
    .left img {
        width: 250px;
    }
    .product-logo {
        display: none;
    }
    .product-wrapper {
        display: flex;
        flex-direction: column;
    }
    .img-wrapper {
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    .wrapper {
        width: 100%;
        left: 35px;
    }
    .arrow-left, .arrow-right {
        display: none;
    }
    .content {
        height: 500px;
        width: 270px;
    }
    .content div {
        font-size: 30px;
    }
    .caption {
        position: relative;
        left: 105px;
    }
    #freezer-caption {
        width: 65%;
        left: 80px;
    }
    .fa-bars {
        display: inline-block;
        font-size: 30px;
        position: relative;
        right: 375px;
        bottom: 42px;
    }
}

